<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="header">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="/gameserver/resources/werewolf-512.png"></link>
   	<link rel="stylesheet" href="/resources/css/style.css" type="text/css" th:href="@{/resources/css/style.css}"></link>	
    <!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"></link>
	<link rel="stylesheet" href="/gameserver/resources/css/font-awesome.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<style type="text/css">
	.accordion-heading { background-color:#DDD; }
	.accordion-heading:hover { background-color:#000;
	  color:#FFF;
	  -webkit-transition: all 0.5s ease-in-out;
	     -moz-transition: all 0.5s ease-in-out;
	       -o-transition: all 0.5s ease-in-out;
	          transition: all 0.5s ease-in-out; }
	.accordion-heading > a { color:#FFF; 
	   text-decoration:none; 
	   text-transform:uppercase; }
	</style>    
    <title th:text="#{campaignHome.title}">Title</title>
    
	<script th:inline="javascript">

//		$('#accordionidone').on('hidden.bs.collapse', togglePanel);
//		$('#accordionidone').on('shown.bs.collapse', togglePanel);
	
//	function togglePanel(e) {
//		alert(e);
//	    $(e.target)
//	        .prev('.panel-heading')
//	        .find("i.indicator")
//	        .toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
//	}
</script>

<script type="text/javascript">	
	function buildTree(locationNode, nodeParent, index, indent) {
		var parentId = $(nodeParent).attr("id");
		var indentClass = "indent" + indent;
	    var subMenu = "subMenu" + index;
	    index = index + 1;
		var newList = document.createElement("ul");
		var listItem = document.createElement("li");
		var locationId = locationNode["id"];
		var locationName = locationNode["name"];
		var displayName = locationNode["displayName"];
		var itemHtml;
		var children = locationNode["children"];
		if (children.length > 0) {
			itemHtml = '<div class="on-same-line"><button type="button" class="addParent fa fa-plus" onclick="clickPlus(\''+locationId+'\',\''+locationName+'\');"></button> <span id="'+locationId+'Txt" class="outline pointer-cursor basic-padding" onclick="clickText(\''+locationId+'\');">'+displayName+' <span class="caret"></span></span></div>';
		} else {
			itemHtml = '<div class="on-same-line"><button type="button" class="addParent fa fa-plus" onclick="clickPlus(\''+locationId+'\',\''+locationName+'\');"></button> <span id="'+locationId+'Txt" class="outline pointer-cursor basic-padding" onclick="clickText(\''+locationId+'\');">'+displayName+'</span> </div>';
		}
		$(listItem).html(itemHtml);
		$(listItem).attr("id", locationId);
		$(listItem).addClass(parentId);
		$(newList).append(listItem);
		$(nodeParent).append(newList);
		if ($(locationNode).attr("id") != "ROOT") {
			$(listItem).attr("hidden", "hidden");
		}
		
		if (children.length > 0) {
			indent = indent + 1;
			$(children).each(function() {
				buildTree(this, listItem, index, indent);
				index = index + 1;
			});
		}
		return index;
	}
	
	function buildOTree(organizationNode, nodeParent, index, indent) {
		var parentId = $(nodeParent).attr("id");
		var indentClass = "indent" + indent;
	    var subMenu = "subMenu" + index;
	    index = index + 1;
		var newList = document.createElement("ul");
		var listItem = document.createElement("li");
		var organizationId = organizationNode["id"];
		var organizationName = organizationNode["name"];
		var displayName = organizationNode["displayName"];
		var itemHtml;
		var children = organizationNode["children"];
		if (children.length > 0) {
			itemHtml = '<div class="on-same-line"><button type="button" class="addParent fa fa-plus" onclick="clickOPlus(\''+organizationId+'\',\''+organizationName+'\');"></button> <span id="'+organizationId+'Txt" class="outline pointer-cursor basic-padding" onclick="clickText(\''+organizationId+'\');">'+displayName+' <span class="caret"></span></span></div>';
		} else {
			itemHtml = '<div class="on-same-line"><button type="button" class="addParent fa fa-plus" onclick="clickOPlus(\''+organizationId+'\',\''+organizationName+'\');"></button> <span id="'+organizationId+'Txt" class="outline pointer-cursor basic-padding" onclick="clickText(\''+organizationId+'\');">'+displayName+'</span> </div>';
		}
		$(listItem).html(itemHtml);
		$(listItem).attr("id", organizationId);
		$(listItem).addClass(parentId);
		$(newList).append(listItem);
		$(nodeParent).append(newList);
		if ($(organizationNode).attr("id") != "ROOT") {
			$(listItem).attr("hidden", "hidden");
		}
		
		if (children.length > 0) {
			indent = indent + 1;
			$(children).each(function() {
				buildOTree(this, listItem, index, indent);
				index = index + 1;
			});
		}
		return index;
	}
	
	function clickPlus(parentLocationId, parentLocationName) {
		$("#hiddenParentId").val(parentLocationId);
		$("#locationParentName").val(parentLocationName);
		event.preventDefault();
	}
	
	function clickOPlus(organizationId, organizationName) {
		$("#hiddenParentData").attr("data-id", organizationId);
		$("#hiddenParentData").val(organizationName);
		$("#organizationParentId").val(organizationName);
		event.preventDefault();
	}
	
	function clickText(locationId) {
//		var territory = $("#"+locationId);
        var search = "."+locationId;
		var children = $(search);
		$.each(children, function() {
			var hidden = $(this).attr("hidden");
			if (hidden == "hidden") {
				$(this).removeAttr("hidden");
			} else {
				$(this).attr("hidden", "hidden");
			}
		});
	}
</script>   
<script th:inline="javascript">
	$(document).ready(function() {
		$( window ).load(function() {
			var locationTypeId = $("#locationTypeId");
			if (locationTypeId.val() != "") {
	            $('.modifyTT').each(function(data) {
    	        	var id = $(data).attr("id");
			        if (id == locationTypeId) {
			        	var value = $(data).val();
			        	var elem = $("#allLocationTypeId");
			        	$(elem).val(id);
			        }
		    	});
			}
			
			var locationTreeJson = $("#locationTreeJson").val();
			var locationTree = jQuery.parseJSON( locationTreeJson );
			var nodeParent = $("#locationGroupPanel");
			var children = locationTree["children"];
			var index = 0;
			var indent = 0;
			buildTree(locationTree, $(nodeParent), index, indent);

			var organizationTypeId = $("#organizationTypeId");
			if (organizationTypeId.val() != "") {
	            $('.modifyOT').each(function(data) {
    	        	var id = $(data).attr("id");
			        if (id == organizationTypeId) {
			        	var value = $(data).val();
			        	var elem = $("#addOrganizationTypeId");
			        	$(elem).val(value);
			        }
		    	});
			}
			
			var organizationTreeJson = $("#organizationTreeJson").val();
			var organizationTree = jQuery.parseJSON( organizationTreeJson );
			var nodeParent = $("#organizationGroupPanel");
			var children = organizationTree["children"];
			var index = 0;
			var indent = 0;
			buildOTree(organizationTree, $(nodeParent), index, indent);
		});		

		$(".addTType").click(function(event) {
			var target = $(event.target);
			var id = $(target).attr('id');
			var name = $(target).attr('name');
			var addTT = $("#addGameDataTypeId");
			addTT.attr("value", id);		
			var form = $("#createLocationTypeForm");
			form.attr("action", "/gameserver/gamemaster/addLocationTypeToCampaign");
			form.submit();
		});
		
		$(".removeTType").click(function(event) {
			var target = $(event.target);
			var id = $(target).attr('id');
			var name = $(target).attr('name');
			var removeTT = $("#removeGameDataTypeId");
			var form = $("#createLocationTypeForm");
			removeTT.attr("value", id);		
			form.attr("action", "/gameserver/gamemaster/removeLocationTypeFromCampaign");
			form.submit();
		});

		$(".addOrgType").click(function(event) {
			var target = $(event.target);
			var id = $(target).attr('id');
			var name = $(target).attr('name');
			var addTT = $("#addGameDataTypeId");
			addTT.attr("value", id);		
			var form = $("#createOrganizationForm");
			form.attr("action", "/gameserver/gamemaster/addOrganizationTypeToCampaign");
			form.submit();
		});
		
		$(".removeOrgType").click(function(event) {
			var target = $(event.target);
			var id = $(target).attr('id');
			var name = $(target).attr('name');
			var removeTT = $("#removeGameDataTypeId");
			var form = $("#createOrganizationForm");
			removeTT.attr("value", id);		
			form.attr("action", "/gameserver/gamemaster/removeOrganizationTypeFromCampaign");
			form.submit();
		});
	});		
</script>   
</head>
<body>
	<div th:include="/public/navbar :: navbar"></div>
	
	<br></br>

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div>
				<h1 id="campaignHome" th:text="#{campaignHome.title}">Home</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div th:if="${feFeedback.error}" th:text="${feFeedback.error}">Error.</div>
		</div>
	</div>
	<br></br>

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="accordion" id="accordionidone">
			  <div class="accordion-group">
			    <div class="accordion-heading panel panel-default">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionidone" href="index.html#one">
					   	<h4 class="left-padding-10">Create/Edit Location Type</h4>
					</a>
			    </div>
			    <div id="one" class="collapse">
			      <div class="accordion-inner outline">
			        <div th:include="/gamemaster/createLocationType :: createLocationType"></div>	
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="accordion" id="accordionidtwo">
			  <div class="accordion-group">
			    <div class="accordion-heading panel panel-default">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionidtwo" href="index.html#two">
					    	<h4 class="left-padding-10">Create/Edit Location</h4>
					    </a>
			    </div>
			    <div id="two" class="collapse">
			      <div class="accordion-inner outline">
			        <div th:include="/gamemaster/createLocation :: createLocation"></div>	
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="accordion" id="accordionid">
			  <div class="accordion-group">
			    <div class="accordion-heading panel panel-default">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionid" href="index.html#three">
					    	<h4 class="left-padding-10">Create/Edit Organization Type</h4>
					    </a>
			    </div>
			    <div id="three" class="collapse">
			      <div class="accordion-inner outline">
			        <div th:include="/gamemaster/createOrganizationType :: createOrganizationType"></div>	
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="accordion" id="accordionid">
			  <div class="accordion-group">
			    <div class="accordion-heading panel panel-default">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionid" href="index.html#four">
					    	<h4 class="left-padding-10">Create/Edit Organization</h4>
					    </a>
			    </div>
			    <div id="four" class="collapse">
			      <div class="accordion-inner outline">
			        <div th:include="/gamemaster/createOrganization :: createOrganization"></div>	
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>

</body>
</html>
