<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="header">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="/gameserver/resources/werewolf-512.png"></link>
   	<link rel="stylesheet" href="/resources/css/style.css" type="text/css" th:href="@{/resources/css/style.css}"></link>	
    <!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"></link>
	<link rel="stylesheet" href="/gameserver/resources/css/font-awesome.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
    <title th:text="#{createLocation.title}">Title</title>
    
<script type="text/javascript">	

	function buildTree(locationNode, nodeParent, index, indent) {
		var parentId = $(nodeParent).attr("id");
		var indentClass = "indent" + indent;
	    var subMenu = "subMenu" + index;
	    index = index + 1;
		var newList = document.createElement("ul");
		var listItem = document.createElement("li");
		var locationId = locationNode["id"];
		var locationName = locationNode["name"];
		var displayName = locationNode["displayName"];
		var itemHtml;
		var children = locationNode["children"];
		if (children.length > 0) {
			itemHtml = '<div class="on-same-line"><button type="button" class="addParent fa fa-plus" onclick="clickPlus(\''+locationId+'\',\''+locationName+'\');"></button> <span id="'+locationId+'Txt" class="outline pointer-cursor basic-padding" onclick="clickText(\''+locationId+'\');">'+displayName+' <span class="caret"></span></span></div>';
		} else {
			itemHtml = '<div class="on-same-line"><button type="button" class="addParent fa fa-plus" onclick="clickPlus(\''+locationId+'\',\''+locationName+'\');"></button> <span id="'+locationId+'Txt" class="outline pointer-cursor basic-padding" onclick="clickText(\''+locationId+'\');">'+displayName+'</span> </div>';
		}
		$(listItem).html(itemHtml);
		$(listItem).attr("id", locationId);
		$(listItem).addClass(parentId);
		$(newList).append(listItem);
		$(nodeParent).append(newList);
		if ($(locationNode).attr("id") != "ROOT") {
			$(listItem).attr("hidden", "hidden");
		}
		
		if (children.length > 0) {
			indent = indent + 1;
			$(children).each(function() {
				buildTree(this, listItem, index, indent);
				index = index + 1;
			});
		}
		return index;
	}
	
	function clickPlus(parentLocationId, parentLocationName) {
		$("#hiddenParentId").val(parentLocationId);
		$("#locationParentName").val(parentLocationName);
		event.preventDefault();
	}
	
	function clickText(locationId) {
//		var location = $("#"+locationId);
        var search = "."+locationId;
		var children = $(search);
		$.each(children, function() {
			var hidden = $(this).attr("hidden");
			if (hidden == "hidden") {
				$(this).removeAttr("hidden");
			} else {
				$(this).attr("hidden", "hidden");
			}
		});
	}
</script>   
<script th:inline="javascript">
	$(document).ready(function() {
		$( window ).load(function() {
			var locationTypeId = $("#locationTypeId");
			if (locationTypeId.val() != "") {
	            $('.modifyTT').each(function(data) {
    	        	var id = $(data).attr("id");
			        if (id == locationTypeId) {
			        	var value = $(data).val();
			        	var elem = $("#addLocationTypeId");
			        	$(elem).val(id);
			        }
		    	});
			}
			
			var locationTreeJson = $("#locationTreeJson").val();
			var locationTree = jQuery.parseJSON( locationTreeJson );
			var nodeParent = $("#locationGroupPanel");
			var children = locationTree["children"];
			var index = 0;
			var indent = 0;
			buildTree(locationTree, $(nodeParent), index, indent);
//			$(locationTree.children).each(function() {
//				index = buildTree(this, $(nodeParent), index, indent);
//			});
		});		

		$(".modifyTT").click(function(event) {
			// Get the data out of the event
			var target = $(event.target);
			var id = $(target).attr('id');
			var name = $(target).text();

			// Set the hidden fields
			var addTT = $("#locationTypeId");
			addTT.val(id);
			var ttName = $("#locationTypeName");
			ttName.val(name);
			// Set the button text
			var ttBtn = $("#ttBtn");
			var newIH = name + ' <span class="caret"></span>';
			$(ttBtn).html(newIH);
		});

	});		
</script>
</head>
<body>
	<div th:include="/public/navbar :: navbar"></div>
	<div th:fragment="createLocation">
		<br></br>
	
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-7">
				<div>
					<h1 th:text="#{createLocation.title}">Create</h1>
				</div>
			</div>
			<div class="col-md-3">
				<div class="item-hide" th:text="${session.campaignId}"></div>
				<div class="on-same-line">
					<span th:if="${session.campaignName}" th:text="#{campaignLabel}"></span><span th:text="${session.campaignName}"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="error-message" th:if="${feFeedback.error}" th:text="${feFeedback.error}">Error.</div>
			</div>
		</div>
		<br></br>
		<form id="createLocationForm" th:object="${locationCreator}" action="#" th:action="@{/gamemaster/createLocation}" method="post">
			<input id="forwardingUrl" type="hidden" th:field="*{forwardingUrl}"></input>
			<input id="campaignId" type="hidden" th:field="*{location.campaignId}"></input>
			<input id="locationTypeId" type="hidden" th:field="*{location.gameDataTypeId}"></input>
			<input id="locationTypeName" type="hidden" th:field="*{location.gameDataTypeName}"></input>
			<input id="locationTreeJson" type="hidden" th:field="*{locationTreeJson}"></input>
			<input id="hiddenParentId" type="hidden" th:field="*{location.parentId}"></input>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-9">
					<span th:text="#{createLocation.description}">description</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-9">
					<hr></hr>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-1">
					<label class="input-margin" th:text="#{createLocation.locationName}">Name</label>
				</div>
				<div class="col-md-8">
					<input class="input-margin" th:field="*{location.name}"></input>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-1">
					<label class="input-margin" th:text="#{createLocation.parentLocation}">Name</label>
				</div>
				<div class="col-md-8">
					<input id="locationParentName" class="input-margin" disabled="disabled"></input>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-1">
					<label class="input-margin" th:text="#{createLocation.locationType}"></label>
				</div>
				<div class="col-md-8">
					<div class="btn-group">
	  					<button id="ttBtn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:utext="#{createLocationType.ttBtn}">
	    					Location Type <span class="caret"></span>
	  					</button>
		  				<ul class="dropdown-menu" role="menu">
		    				<li th:each="locationType : ${locationTypeCreator.gameDataTypesInCampaign}"><a th:id="${locationType.id}" class="modifyTT" th:text="${locationType.name}">Action</a></li>
		  				</ul>
					</div>				
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-1">
					<label class="input-margin" th:text="#{createLocation.locationDescription}">Desc</label>
				</div>
				<div class="col-md-8">
					<textarea rows="8" cols="100" class="input-margin" th:field="*{location.description}"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-3">			
					<h4>Select parent location in campaign</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div id="locationRoot">
						<div id="locationGroupPanel" class="list-group panel"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-2">
	           		<input class="basic-margin" type="submit" value="Submit" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-9">
					<hr></hr>
				</div>
			</div>
		</form>
	</div>
</body>
</html>
