<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="header">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="/gameserver/resources/werewolf-512.png"></link>
   	<link rel="stylesheet" href="/resources/css/style.css" type="text/css" th:href="@{/resources/css/style.css}"></link>	
    <!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"></link>
	<link rel="stylesheet" href="/gameserver/resources/css/font-awesome.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
    <title th:text="#{createCampaign.title}">Title</title>
    
	<script th:inline="javascript">
	$(document).ready(function() {
		$( window ).load(function() {
			// placeholder
		});		
	});		
	</script>   
	<meta charset="utf-8"></meta>
	<title>CKEditor Sample</title>
	<script src="/gameserver/resources/ckeditor/ckeditor.js"></script>
	<script src="/gameserver/resources/ckeditor/gameserver/js/sample.js"></script>
	<link rel="stylesheet" href="/gameserver/resources/ckeditor/gameserver/css/samples.css"></link>
	<link rel="stylesheet" href="/gameserver/resources/ckeditor/gameserver/toolbarconfigurator/lib/codemirror/neo.css"></link>
</head>
<body id="main">
	<div th:include="/public/navbar :: navbar"></div>
	
	<br></br>
	<br></br>
	<br></br>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-11">
			<h1 th:text="#{editPage.title}">Updated</h1>
		</div>
	</div>
<main>
	
	<form id="createPageForm" th:object="${page}" action="#" th:action="@{/gamemaster/editPage}" method="post">
	<input id="campaignId" type="hidden" th:field="*{campaignId}"></input>

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-1">
			<label class="input-margin" th:text="#{editPage.pageTitle}">Name</label>
		</div>
		<div class="col-md-8">
			<input id="pageTitle" class="input-margin" th:field="*{title}"></input>
		</div>
	</div>

	<div class="adjoined-bottom">
		<div class="grid-container">
			<div class="grid-width-100">
				<textarea id="editor" th:field="*{content}">
					<h1>Hello world!</h1>
					<p>I'm an instance of <a href="http://ckeditor.com">CKEditor</a>.</p>
				</textarea>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-7">
			<input class="basic-margin" type="submit" value="Submit" />
		</div>
	</div>


	
	</form>
</main>
<script>
	initSample();
</script>

</body>
</html>
