<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="header">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="/gameserver/resources/werewolf-512.png"></link>
   	<link rel="stylesheet" href="/resources/css/style.css" type="text/css" th:href="@{/resources/css/style.css}"></link>	
	
    <!-- Bootstrap & JQuery-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"></link>
	<link rel="stylesheet" href="/gameserver/resources/css/font-awesome.css"></link>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
	<script src="/gameserver/resources/ckeditor/ckeditor.js"></script>
	<script src="/gameserver/resources/ckeditor/gameserver/js/sample.js"></script>
	<link rel="stylesheet" href="/gameserver/resources/ckeditor/gameserver/css/samples.css"></link>
	<link rel="stylesheet" href="/gameserver/resources/ckeditor/gameserver/toolbarconfigurator/lib/codemirror/neo.css"></link>

    <title th:text="#{createCampaign.title}">Title</title>
    
	<script th:inline="javascript">
	$(document).ready(function() {
		$( window ).load(function() {
			
			var value = $("#selectedTags").val();
			var data = jQuery.parseJSON(value);

			var ul = '<ul class="dropdown-menu"></ul>';
			$(".dropdown-toggle").after(ul);
			var string0 = '<li id="0" class="selectTag"><a href="#" onclick="addTag();">Add a tag</a></li>';
			$(".dropdown-menu").append(string0);
			var string1 = '<li class="divider"></li>';
			$(".dropdown-menu").append(string1);
				
			var folioId = $("#folioId").val();
			if (data.length == 0) {
				alert("0");
			}
			$.each(data, function(index, currentTag) {
				var tagId = currentTag['objectId'];
				var tagName = currentTag['tagName'];
				var paramString = "\'"+folioId+"\', \'"+tagId+"\', \'"+tagName+"\'";
				var current = '<li id="'+tagId+'" class="selectTag"><a href="#" onclick="removeTag('+paramString+');">'+tagName+'</a></li>'; 
				$(".dropdown-menu").append(current);
			});

		});	

		$("#removeDialog").dialog({
  	    	autoOpen: false,
	  	    modal: true,
	  	  	position: { my: "left top", at: "right top", of: "#tagsBtn", collision: "flip flip" }
  		});

		$("#addDialog").dialog({
  	    	autoOpen: false,
	  	    modal: true,
	  	  	position: { my: "left top", at: "right top", of: "#tagsBtn", collision: "flip flip" },
			"width": 460
  		});
		
		$(function() {
			$( "#selectable" ).selectable();
		});
	});		


	</script>   

	<script>
		function removeTag(folioId, tagId, tagName) {
//			var selectedTag = $("#"+tagId);
//			var name = selectedTag.text();
			$("#removeDialog").text("Remove the tag " + tagName + "?");
//			alert("Selected: " + name);
//			e.preventDefault();
//			var targetUrl = $(this).attr("href");
	
			$("#removeDialog").dialog({
				buttons : {
			    	"Confirm" : function() {
			    		var action = "/gameserver/gamemaster/removeTagFromFolio/" + folioId + "/" + tagId;
			    		window.location.href = action;
			    		$("#removeTagForm").attr("action", action);
			    		$("#removeTagForm").submit();
//			        	window.location.href = targetUrl;
			        },
			        "Cancel" : function() {
			        	$(this).dialog("close");
			        }
			    }
			});
	
			$("#removeDialog").dialog("open");			
		}
		
		// unselectedTags is an object with nested objects in a parent->children relationship
		// with the top element being Root (a fake element) and there being only two levels
		// beneath them
		function getTags(tags) {
			var firstTierChildren = tags.children;
			
			var liList = ' ';
			$.each(firstTierChildren, function(index, firstTierTag) {
				liList += getSecondTierTags(firstTierTag);
			});
			
			return liList;
		}
		
		function getSecondTierTags(firstTierTag) {
			var liList = ' ';
			$.each(firstTierTag.children, function(index, secondTierTag) {
				var secondTierLi = '<li class="ui-widget-content" class-name="'+secondTierTag['name']+'" tag-id="'+secondTierTag['id']+'">'+secondTierTag['displayName']+'</li>'; 
				liList += secondTierLi;
			});
			var firstTierLi = '<li class="ui-widget-content" class-name="'+firstTierTag['name']+'" tag-id="'+firstTierTag['id']+'">'+firstTierTag['displayName']+'</li>';
			liList = firstTierLi + liList;
			return liList;
		}
		
		function addTag() {
			$("#addDialog").empty();
//			$("#addDialog").text("Add the tag " + name + "?");

			var unassignedTagsField = $("#unassignedTags");
			var unassignedTagsText = unassignedTagsField.val();
			var tags = jQuery.parseJSON(unassignedTagsText);
//			var newText = '<ol id="selectable">';
//			var midText = createAddTagElement(unassignedTags, unassignedTags, "");
//			newText += midText + '</ol>';
			var newText = '<ol id="selectable">' + getTags(tags) + '</ol>';
			$("#addDialog").append(newText);
			$("#addDialog").dialog("open").find('ol').selectable({selected: function(event,ui) {
                  alert('here');
                  var className = $(ui).getAttribute("class-name");
                  var tagId = ui.getAttribute("tag-id");
                  var action = "/gameserver/gamemaster/addTagToFolio/" + folioId + "/" + tagId;
            }});;	
		}
		
		function createAddTagElement(currentTag, unassignedtags, listString) {
			if (currentTag.children.length > 0) {				
				$.each(currentTag.children, function(index, childTag) {
					listString += createAddTagElement(childTag, unassignedtags, listString);
				});
			}
			if (currentTag.id != "Root") {
				var newBit = '<li class="ui-widget-content" class-name="'+currentTag['name']+'" tag-id="'+currentTag['id']+'">'+currentTag['displayName']+'</li>';
				listString += newBit;
			}
			return listString;
		}
		
	</script>
</head>
<body id="main">
	<div th:include="/public/navbar :: navbar"></div>
	
	<br></br>
	<br></br>
	<br></br>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-11">
			<h1 th:text="#{editFolio.title}">Updated</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<span class="error-message" th:if="${feFeedback.error}" th:text="${feFeedback.error}">Error.</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<span class="info-message" th:if="${feFeedback.info}" th:text="${feFeedback.info}">Info.</span>
		</div>
	</div>

	<form id="addTagForm" action="/gamemaster/removeTagFromFolio" method="get"></form>
	<form id="removeTagForm" action="/gamemaster/removeTagFromFolio" method="get"></form>
	<form id="createFolioForm" th:object="${folioCreator}" action="#" th:action="@{/gamemaster/editFolio}" method="post">
		<input id="campaignId" type="hidden" th:field="*{folio.campaignId}"></input>
		<input id="unassignedTags" type="hidden" th:field="*{unassignedTags}"></input>
		<input id="selectedTags" type="hidden" th:field="*{selectedTags}"></input>
		<input id="removeTag" type="hidden" th:field="*{removeTag}"></input>
		<input id="addTag" type="hidden" th:field="*{addTag}"></input>
		<input id="folioId" type="hidden" th:field="*{folio.id}"></input>

		<div class="row">
			<div class="col-md-10">
				<div id="removeDialog" title="Confirmation Required">
  					Remove tag from folio?
				</div>	
		 	</div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<div id="addDialog" style="display:none;" title="Add tag"></div>	
		 	</div>
		</div>


		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<label class="input-margin" th:text="#{editFolio.pageTitle}">Name</label>
			</div>
			<div class="col-md-8">
				<input id="pageTitle" class="input-margin" th:field="*{folio.title}"></input>
			</div>
		</div>
	
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<label th:text="#{editFolio.tags}">Tags</label>
			</div>
			<div class="col-md-10">
				<div class="btn-group input-margin" role="group">
  					<button id="tagsBtn" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    					Tags<span class="caret"></span>
  					</button>
	  				<ul class="dropdown-menu">
  					</ul>
				</div>			 
			</div>
		</div>		 
 
		<div class="input-margin">
			<div class="grid-container">
				<div class="grid-width-100">
					<textarea id="editor" th:field="*{folio.content}"></textarea>
				</div>
			</div>
		</div>
	
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-7">
				<input class="basic-margin" type="submit" value="Submit" />
			</div>
		</div>

	</form>
<script>
<!-- ckeditor js code -->
	initSample();
</script>

</body>
</html>
