<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="header">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="/gameserver/resources/werewolf-512.png"></link>
   	<link rel="stylesheet" href="/resources/css/style.css" type="text/css" th:href="@{/resources/css/style.css}"></link>	
    <!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"></link>
	<link rel="stylesheet" href="/gameserver/resources/css/font-awesome.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
    <title th:text="#{editOrganization.title}">Title</title>
    
<script type="text/javascript">	
	function buildTree(organizationNode, nodeParent, index, indent) {
		var displayName = organizationNode["displayName"];
		// If we're looking at "Add new organization" skip it, it isn't real.
		if (displayName == "" || displayName == null) {
			return index;
		}
		var parentId = $(nodeParent).attr("id");
		var indentClass = "indent" + indent;
	    var subMenu = "subMenu" + index;
	    index = index + 1;
		var newList = document.createElement("ul");
		var listItem = document.createElement("li");
		var organizationId = organizationNode["id"];
		var displayName = organizationNode["displayName"];
		var itemHtml;
		var organizationName = organizationNode["name"];
		var children = organizationNode["children"];
		if (children.length > 0) {
			itemHtml = '<div class="on-same-line"><button type="button" class="addParent fa fa-plus" onclick="clickPlus(\''+organizationId+'\',\''+organizationName+'\');"></button> <span id="'+organizationId+'Txt" class="outline pointer-cursor basic-padding" onclick="clickText(\''+organizationId+'\');">'+displayName+' <span class="caret"></span></span></div>';
		} else {
			itemHtml = '<div class="on-same-line"><button type="button" class="addParent fa fa-plus" onclick="clickPlus(\''+organizationId+'\',\''+organizationName+'\');"></button> <span id="'+organizationId+'Txt" class="outline pointer-cursor basic-padding" onclick="clickText(\''+organizationId+'\');">'+displayName+'</span> </div>';
		}
		$(listItem).html(itemHtml);
		$(listItem).attr("id", organizationId);
		$(listItem).addClass(parentId);
		$(newList).append(listItem);
		$(nodeParent).append(newList);
		if ($(organizationNode).attr("id") != "ROOT") {
			$(listItem).attr("hidden", "hidden");
		}
		
		if (children.length > 0) {
			indent = indent + 1;
			$(children).each(function() {
				buildTree(this, listItem, index, indent);
				index = index + 1;
			});
		}
		return index;
	}
	
	// This is for selecting a parent organization
	function clickPlus(type, parentOrganizationId, parentOrganizationName) {
		if (type == "organization") {
			$("#hiddenParentId").val(parentOrganizationId);
			$("#organizationParentName").val(parentOrganizationName);
		} else {
			$("#hiddenOrgRankParentId").val(parentOrganizationId);
			$("#organizationRankParentName").val(parentOrganizationName);
		}
		event.preventDefault();
	}
	
	// This is for collapsing the parent organization hierarchy
	function clickText(organizationId) {
//		var organization = $("#"+organizationId);
        var search = "."+organizationId;
		var children = $(search);
		$.each(children, function() {
			var hidden = $(this).attr("hidden");
			if (hidden == "hidden") {
				$(this).removeAttr("hidden");
			} else {
				$(this).attr("hidden", "hidden");
			}
		});
	}
</script>   
<script th:inline="javascript">
	$(document).ready(function() {
		$( window ).load(function() {
			var data = $("#organizationRankTreeJson").val();
			var organizationRankTree = jQuery.parseJSON(data);
			var length = Object.keys(organizationRankTree).length;
			if (length > 0) {
				var nodeRankParent = $("#organizationRankGroupPanel");
				nodeRankParent.empty();
				var children = organizationRankTree["children"];
				var index = 0;
				var indent = 0;
				buildTree(organizationRankTree, $(nodeRankParent), index, indent);
			}
		});		
		

		$(".selectOrgRank").click(function(event) {
			alert("hi");
			event.preventDefault();
			var target = $(event.target);
			var id = $(target).attr('id');
			var name = $(target).text();
			var organizationRankStatus = $("#organizationStatus");
			if (id == "0" || id == null) { 
				$("#organizationRankName").val(null);
				$("#organizationRankId").val(null);
				organizationRankStatus.val("You are creating a new organization rank"); 
			} else {
				$("#organizationRankName").val(name);
				$("#organizationRankId").val(id);
				organizationRankStatus.val("You are editing organization rank " + name);
			}
			
			$.get( "/gameserver/gamemaster/getOrganizationRank?id="+id, function( data ) {
				// Populate the form with the data returned from the back end
				var organizationRank = jQuery.parseJSON(data);
				var organizationRankParentName = $("#organizationRankParentName");
				organizationRankParentName.var = organziationRank.get("parentName");
				var description = $("#organizationRankDescription");
				description = organziationRank.get("description");
			});
			
			var orgRankOrgId = $("#editOrganizationRankForm input[id=organizationId]");
			orgRankOrgId.val(id);

		});
		
		$(".selectOrganization").click(function(event) {
			event.preventDefault();
			var target = $(event.target);
			var id = $(target).attr('id');
			var name = $(target).text();
			if (id == "0") { 
				$("#organizationName").val(null);
				$("#organizationId").val(null);
			} else {
				$("#organizationName").val(name);
				$("#hiddenOrganizationId").val(id);
			}
			
			var orgRankOrgId = $("#editOrganizationRankForm input[id=organizationId]");
			orgRankOrgId.val(id);
			
			$.get( "/gameserver/gamemaster/selectOrganization?id="+id, function( data ) {
				// Populate the form with the data returned from the back end
				var organizationRankCreator = jQuery.parseJSON(data);
				var organizationRankList = organizationRankCreator["organizationRanksInOrganization"];
				var orgRankList = $("#organizationRankList");
				orgRankList.empty();
				$.each(organizationRankList, function() {
					var organizationRankName = $(this).attr("name");
					var organizationRankId = $(this).attr("id");
					var li = '<li><a class="selectOrgRank" id="'+organizationRankId+'" onclick="selectOrgRank(\''+organizationRankId+'\',\''+organizationRankName+'\');">'+organizationRankName+'</a></li>';
					orgRankList.append(li);
				});
				
				var orgRankTreeString = organizationRankCreator["organizationRankTreeJson"];
				var orgRankTree = jQuery.parseJSON(orgRankTreeString);
				var nodeParent = $("#organizationRankGroupPanel");
				var children = orgRankTree["children"];
				var index = 0;
				var indent = 0;
				buildTree(orgRankTree, $(nodeParent), index, indent);
			});
		});
	
		$("#submitOrgRank").click(function(event) { 
			var form = $("#editOrganizationRankForm");
			form.attr("action", "/gameserver/gamemaster/editOrganizationRank");
		});
		
	});		
</script>
<script>
	$(function() {
  		$( "#dialog" ).dialog();
	});

	$(function() {
		$( "#datepicker" ).datepicker();
	});
	  
	function selectOrgRank(id, name) {
		alert("id: " + id + "\nname: " + name);
		var organizationRankStatus = $("#organizationStatus");
		if (id == "0" || id == null) { 
			$("#organizationRankName").val(null);
			$("#organizationRankId").val(null);
			organizationRankStatus.text("You are creating a new organization rank"); 
		} else {
			$("#organizationRankName").val(name);
			$("#organizationRankId").val(id);
			organizationRankStatus.text("You are editing organization rank " + name);
		}
		
		$.get( "/gameserver/gamemaster/getOrganizationRank?id="+id, function( data ) {
			// Populate the form with the data returned from the back end
			var organizationRank = jQuery.parseJSON(data);
			var organizationRankParentName = $("#organizationRankParentName");
			organizationRankParentName.val(organizationRank["parentName"]);
			var description = $("#organizationRankDescription");
			description.val(organizationRank["description"]);
		});
		
		var orgRankOrgId = $("#editOrganizationRankForm input[id=organizationId]");
		orgRankOrgId.val(id);
	}
</script>
</head>
<body>
	<div th:include="/public/navbar :: navbar"></div>
	<div th:fragment="createOrganizationRank">
		<br></br>

		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-7">
				<div>
					<h1 th:text="#{editOrganizationRank.title}">Create</h1>
				</div>
			</div>
			<div class="col-md-3">
				<div class="item-hide" th:text="${session.campaignId}"></div>
				<div class="on-same-line">
					<span th:if="${session.campaignName}" th:text="#{campaignLabel}"></span><span th:text="${session.campaignName}"></span>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<span class="error-message" th:if="${feFeedback.error}" th:text="${feFeedback.error}">Error.</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<span class="info-message" th:if="${feFeedback.info}" th:text="${feFeedback.info}">Info.</span>
			</div>
		</div>
		<br></br>
		<form id="getOrganizationRankForm" action="#" th:action="@{/gamemaster/editOrganization}" method="get"></form>
		<form id="editOrganizationRankForm" th:object="${organizationRankCreator}" action="#" th:action="@{/gamemaster/editOrganizationRank}" method="post">
			<input id="forwardingUrl" type="hidden" th:field="*{forwardingUrl}"></input>
			<input id="campaignId" type="hidden" th:field="*{organizationRank.campaignId}"></input>

			<input id="organizationRankTreeJson" type="hidden" th:field="*{organizationRankTreeJson}"></input>
			<input id="organizationId" type="hidden" th:field="*{organizationRank.organizationId}"></input>
			<input id="hiddenOrgRankParentId" type="hidden" th:field="*{organizationRank.parentId}"></input>
			<input id="organizationRankId" type="hidden" th:field="*{organizationRank.id}"></input>

			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-9">
					<h2>Organization Ranks</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-9">
					<span th:text="#{createOrganizationRank.description}">description</span>
				</div>
			</div>

			<div class="row">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-9">
						<button id="organizationStatus" type="button" class="input-margin btn btn-info dropdown-toggle" aria-expanded="false" th:text="${feFeedback.info2}"></button>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-1">
					<label class="input-margin" th:text="#{editOrganization.selectOrganization}">Name</label>
				</div>
				<div class="col-md-8">
					<div class="btn-group">
	  					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:utext="#{editOrganization.selectOrganizationDown}">
	    					Select Organization <span class="caret"></span>
	  					</button>
		  				<ul id="organizationList" class="dropdown-menu" role="menu">
		    				<li th:each="organization : *{organizationsInCampaign}"><a th:id="${organization.id}" class="selectOrganization" th:text="${organization.name}">Action</a></li>
		  				</ul>
					</div>				
				</div>
			</div>			
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-1">
					<label class="input-margin"></label>
				</div>
				<div class="col-md-8">
					<input id="organizationName" class="input-margin" disabled="disabled"></input>
				</div>
			</div>			
			
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-1">
					<label class="input-margin" th:text="#{editOrganizationRank.selectOrganizationRank}">Name</label>
				</div>
				<div class="col-md-8">
					<div class="btn-group">
	  					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:utext="#{editOrganizationRank.selectOrganizationRankDown}">
	    					Select Organization Rank<span class="caret"></span>
	  					</button>
		  				<ul id="organizationRankList" class="dropdown-menu" role="menu">
		    				<li th:each="organizationRank : *{organizationRanksInOrganization}"><a th:id="${organizationRank.id}" class="selectOrgRank" th:text="${organizationRank.name}" onclick="alert('hi');">Action</a></li>
		  				</ul>
					</div>				
				</div>
			</div>
						
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-1">
					<label class="input-margin" th:text="#{editOrganizationRank.organizationRankName}">Name</label>
				</div>
				<div class="col-md-8">
					<input id="organizationRankName" class="input-margin" th:field="*{organizationRank.name}"></input>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-1">
					<label class="input-margin" th:text="#{editOrganizationRank.parentOrganizationRank}">Name</label>
				</div>
				<div class="col-md-8">
					<input id="organizationRankParentName" class="input-margin" th:field="*{organizationRank.parentName}" disabled="disabled"></input>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-1">
					<label class="input-margin" th:text="#{editOrganizationRank.organizationRankDescription}">Desc</label>
				</div>
				<div class="col-md-8">
					<textarea id="organizationRankDescription" rows="8" cols="100" class="input-margin" th:field="*{organizationRank.description}"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-3">			
					<h4>Select parent organization rank in campaign</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div id="organizationRankRoot">
						<div id="organizationRankGroupPanel" class="list-group panel"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-2">
	           		<input id="submitOrgRank" class="basic-margin" type="submit" value="Submit" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-9">
					<hr></hr>
				</div>
			</div>
		</form>
	</div>
</body>
</html>
