<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="header">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="/gameserver/resources/werewolf-512.png"></link>
   	<link rel="stylesheet" href="/resources/css/style.css" type="text/css" th:href="@{/resources/css/style.css}"></link>	
    <!-- Bootstrap & JQuery-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"></link>
	<link rel="stylesheet" href="/gameserver/resources/css/font-awesome.css"></link>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
	<script src="/gameserver/resources/ckeditor/ckeditor.js"></script>
	<script src="/gameserver/resources/ckeditor/gameserver/js/sample.js"></script>
	<link rel="stylesheet" href="/gameserver/resources/ckeditor/gameserver/css/samples.css"></link>
	<link rel="stylesheet" href="/gameserver/resources/ckeditor/gameserver/toolbarconfigurator/lib/codemirror/neo.css"></link>

    <title th:text="#{createCampaign.title}">Title</title>
    
	<script th:inline="javascript">
	$(document).ready(function() {
		$( window ).load(function() {

			var value = $("#selectedTags").val();
			var data = jQuery.parseJSON(value);
			data.every(function(tag) {
				var tagName = tag["tagName"];
				alert(tagName);
			});
		});	
		
	});		


	</script>   

	<script>
		$(function() {
		    $( "#dialog-confirm" ).dialog({
		        resizable: false,
		        height:240,
  		        modal: true,
		        buttons: {
		            "Remove tag": function() {
		                $( this ).dialog( "close" );
		        	},
		        	Cancel: function() {
		          		$( this ).dialog( "close" );
		        	}
		      	}
		    });
		});
	
		$(function() {
		    $( "#datepicker" ).datepicker();
		});
		  
		function selectTag(id) {
			var selectedTag = $("#"+id);
			var name = selectedTag.text();
			alert("Selected: " + name);
		}
	</script>
</head>
<body id="main">
	<div th:include="/public/navbar :: navbar"></div>
	
	<br></br>
	<br></br>
	<br></br>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-11">
			<h1 th:text="#{editFolio.title}">Updated</h1>
		</div>
	</div>

	
	<form id="createFolioForm" th:object="${folioCreator}" action="#" th:action="@{/gamemaster/editFolio}" method="post">
		<input id="campaignId" type="hidden" th:field="*{folio.campaignId}"></input>
		<input id="allTags" type="hidden" th:field="*{allTags}"></input>
		<input id="selectedTags" type="hidden" th:field="*{selectedTags}"></input>
	
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<label class="input-margin" th:text="#{editFolio.pageTitle}">Name</label>
			</div>
			<div class="col-md-8">
				<input id="pageTitle" class="input-margin" th:field="*{folio.title}"></input>
			</div>
		</div>
	
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<label th:text="#{editFolio.tags}">Tags</label>
			</div>
			<div class="col-md-10">
				<div class="btn-group input-margin" role="group">
  					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    					Tags<span class="caret"></span>
  					</button>
	  				<ul class="dropdown-menu">
    					<li><a id="0" class="selectTag" onclick="selectTag('0');">Add a tag</a></li>
    					<li class="divider"></li>
   						<li><a id="1" class="selectTag" onclick="selectTag('1');">The kingdom of Midland</a></li>
  					</ul>
				</div>			 
			</div>
		</div>		 

		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<label>Dialog test</label>
			</div>
			<div class="col-md-10">
				<div id="dialog-confirm" title="Remove this tag?">
					<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Should this tag be removed?</p>
				</div>			
			</div>
		</div>		 
							
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<label>Datepicker test</label>
			</div>
			<div class="col-md-10">
				<p>Date: <input type="text" id="datepicker"></input></p>
			</div>
		</div>		 
 
		<div class="input-margin">
			<div class="grid-container">
				<div class="grid-width-100">
					<textarea id="editor" th:field="*{folio.content}"></textarea>
				</div>
			</div>
		</div>
	
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-7">
				<input class="basic-margin" type="submit" value="Submit" />
			</div>
		</div>

	</form>
<script>
	initSample();
</script>

</body>
</html>
