<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="header">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="/gameserver/resources/werewolf-512.png"></link>
   	<link rel="stylesheet" href="/resources/css/style.css" type="text/css" th:href="@{/resources/css/style.css}"></link>	
    <!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"></link>
	<link rel="stylesheet" href="/gameserver/resources/css/font-awesome.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
    <title th:text="#{editOrganization.title}">Title</title>
    
<script type="text/javascript">	
	function buildTree(type, organizationNode, nodeParent, index, indent) {
		var displayName = organizationNode["displayName"];
		// If we're looking at "Add new organization" skip it, it isn't real.
		if (displayName == "" || displayName == null) {
			return index;
		}
		var parentId = $(nodeParent).attr("id");
		var indentClass = "indent" + indent;
	    var subMenu = "subMenu" + index;
	    index = index + 1;
		var newList = document.createElement("ul");
		var listItem = document.createElement("li");
		var organizationId = organizationNode["id"];
		var displayName = organizationNode["displayName"];
		var itemHtml;
		var organizationName = organizationNode["name"];
		var children = organizationNode["children"];
		if (children.length > 0) {
			itemHtml = '<div class="on-same-line"><button type="button" class="addParent fa fa-plus" onclick="clickPlus(\''+type+'\',\''+organizationId+'\',\''+organizationName+'\');"></button> <span id="'+organizationId+'Txt" class="outline pointer-cursor basic-padding" onclick="clickText(\''+organizationId+'\');">'+displayName+' <span class="caret"></span></span></div>';
		} else {
			itemHtml = '<div class="on-same-line"><button type="button" class="addParent fa fa-plus" onclick="clickPlus(\''+type+'\',\''+organizationId+'\',\''+organizationName+'\');"></button> <span id="'+organizationId+'Txt" class="outline pointer-cursor basic-padding" onclick="clickText(\''+organizationId+'\');">'+displayName+'</span> </div>';
		}
		$(listItem).html(itemHtml);
		$(listItem).attr("id", organizationId);
		$(listItem).addClass(parentId);
		$(newList).append(listItem);
		$(nodeParent).append(newList);
		if ($(organizationNode).attr("id") != "ROOT") {
			$(listItem).attr("hidden", "hidden");
		}
		
		if (children.length > 0) {
			indent = indent + 1;
			$(children).each(function() {
				buildTree(type, this, listItem, index, indent);
				index = index + 1;
			});
		}
		return index;
	}
	
	// This is for selecting a parent organization
	function clickPlus(type, parentOrganizationId, parentOrganizationName) {
		if (type == "organization") {
			$("#hiddenParentId").val(parentOrganizationId);
			$("#organizationParentName").val(parentOrganizationName);
		} else {
			$("#hiddenOrgRankParentId").val(parentOrganizationId);
			$("#organizationRankParentName").val(parentOrganizationName);
		}
		event.preventDefault();
	}
	
	// This is for collapsing the parent organization hierarchy
	function clickText(organizationId) {
//		var organization = $("#"+organizationId);
        var search = "."+organizationId;
		var children = $(search);
		$.each(children, function() {
			var hidden = $(this).attr("hidden");
			if (hidden == "hidden") {
				$(this).removeAttr("hidden");
			} else {
				$(this).attr("hidden", "hidden");
			}
		});
	}
</script>   
<script th:inline="javascript">
	$(document).ready(function() {
		$( window ).load(function() {
			var organizationTypeId = $("#organizationTypeId");
			if (organizationTypeId.val() != "") {
	            $('.modifyOT').each(function(data) {
    	        	var id = $(data).attr("id");
			        if (id == organizationTypeId) {
			        	var value = $(data).val();
			        	var elem = $("#addOrganizationTypeId");
			        	$(elem).val(id);
			        }
		    	});
			}
			
			var organizationTreeJson = $("#organizationTreeJson").val();
			var organizationTree = jQuery.parseJSON(organizationTreeJson);
			var nodeParent = $("#organizationGroupPanel");
			nodeParent.empty();
			var children = organizationTree["children"];
			var index = 0;
			var indent = 0;
			buildTree('organization', organizationTree, $(nodeParent), index, indent);

			var organizationRankTreeJson = $("#organizationRankTreeJson").val();
			var organizationRankTree = jQuery.parseJSON(organizationRankTreeJson);
			var nodeRankParent = $("#organizationRankGroupPanel");
			nodeRankParent.empty();
			var children = organizationRankTree["children"];
			var index = 0;
			var indent = 0;
			buildTree('organizationRank', organizationRankTree, $(nodeRankParent), index, indent);
		});		

		$(".modifyOT").click(function(event) {
			// Get the data out of the event
			var target = $(event.target);
			var id = $(target).attr('id');
			if (id == "0") {
				var form = $("#editOrganizationTypeForm");
				var organizationId = $("#hiddenOrganizationId").val();
				var action = form.attr("action");
				action += "?forwardingUrl=/gamemaster/editOrganization";

				window.location.href = action;
			} else {
				var name = $(target).text();
	
				// Set the hidden fields
				var addOT = $("#organizationTypeId");
				addOT.val(id);
				var otName = $("#organizationTypeName");
				otName.val(name);
				// Set the button text
				var organizationTypeName = $("#organizationTypeName");
				organizationTypeName.val(name);
			}
		});
		
		$(".selectOrganization").click(function(event) {
			event.preventDefault();
			var target = $(event.target);
			var id = $(target).attr('id');
			var name = $(target).text();
			if (id == "0") { 
				$("#organizationName").val(null);
				$("#organizationId").val(null);
			} else {
				$("#organizationName").val(name);
				$("#hiddenOrganizationId").val(id);
			}
			
			var orgRankOrgId = $("#editOrganizationRankForm input[id=organizationId]");
			orgRankOrgId.val(id);

			var getOrganizationForm = $("#getOrganizationForm");
			var action = getOrganizationForm.attr("action");
			action = action + "?id="+id;
			window.location.href = action;
			
//			$.get( "/gameserver/gamemaster/getOrganization?hiddenOrganizationId="+id, function( data ) {
//				// Populate the form with the data returned from the back end
//				var data = jQuery.parseJSON(data);
//				var organizationJson = data["organization"];
//			    var description = organizationJson["description"];
//				var organizationDescription = $("#organizationDescription");
//				organizationDescription.val(description);
//				var typeId = organizationJson["gameDataTypeId"];
//				var organizationTypeId = $("#organizationTypeId");
//				organizationTypeId.val(typeId);
//				var typeName = organizationJson["gameDataTypeName"];
//				var organizationTypeName = $("#organizationTypeName");
//				organizationTypeName.val(typeName);
//				var parentId = organizationJson["parentId"];
//				var organizationParentId = $("#hiddenParentId");
//				organizationParentId.val(parentId);
//				var parentName = organizationJson["parentName"];
//				if (parentName == null) {
//					parentName = "ROOT";
//				}
//				var organizationParentName = $("#organizationParentName");
//				organizationParentName.val(parentName);
//				  
//				var organizationRankTree = data["organizationRankTree"];
//				var nodeParent = $("#organizationRankGroupPanel");
//				nodeParent.empty();
//				var children = organizationRankTree["children"];
//				var index = 0;
//				var indent = 0;
//				buildTree('organizationRank', organizationRankTree, $(nodeParent), index, indent);
//				
//				var orgRanks = data["organizationRanks"];
//			});

		});

		$(".selectOrganizationRank").click(function(event) {
			event.preventDefault();
			var target = $(event.target);
			var id = $(target).attr('id');
			var name = $(target).text();
			if (id == "0") { 
				$("#organizationRankName").val(null);
				$("#organizationRankId").val(null);
			} else {
				$("#organizationRankName").val(name);
				$("#organizationRankId").val(id);
			}
			
			var orgRankOrgId = $("#editOrganizationForm input[id=organizationId]");
			orgRankOrgId.val(id);
			
			$.get( "/gameserver/gamemaster/getOrganizationRank?id="+id, function( data ) {
				  // Populate the form with the data returned from the back end
				  var organizationRankJson = jQuery.parseJSON(data);
				  var description = organizationRankJson["description"];
				  var organizationRankDescription = $("#organizationRankDescription");
				  organizationRankDescription.val(description);
				  var parentId = organizationRankJson["parentId"];
				  var organizationRankParentId = $("#hiddenParentId");
				  organizationRankParentId.val(parentId);
				  var parentName = organizationRankJson["parentName"];
				  if (parentName == null) {
					  parentName = "ROOT";
				  }
				  var organizationRankParentName = $("#organizationRankParentName");
				  organizationRankParentName.val(parentName);
				  
//				  var organizationRankTreeJson = $("#organizationRankTreeJson").val();
//				  var organizationRankTree = jQuery.parseJSON( organizationTreeJson );
//				  var nodeParent = $("#organizationRankGroupPanel");
//				  nodeParent.empty();
//				  var children = organizationTree["children"];
//				  var index = 0;
//				  var indent = 0;
//				  buildTree(organizationRankTree, $(nodeParent), index, indent);
			});
		});
	
		$("submitOrgRank").click(function(event) { 
			var form = $("#editOrganizationForm");
			form.attr("action", "/gamemaster/editOrganizationRank");
		});
		
	});		
</script>
</head>
<body>
	<div th:include="/public/navbar :: navbar"></div>
	<div th:fragment="createOrganization">
		<br></br>
	
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-7">
				<div>
					<h1 th:text="#{editOrganization.title}">Create</h1>
				</div>
			</div>
			<div class="col-md-3">
				<div class="item-hide" th:text="${session.campaignId}"></div>
				<div class="on-same-line">
					<span th:if="${session.campaignName}" th:text="#{campaignLabel}"></span><span th:text="${session.campaignName}"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<span class="error-message" th:if="${feFeedback.error}" th:text="${feFeedback.error}">Error.</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<span class="info-message" th:if="${feFeedback.info}" th:text="${feFeedback.info}">Info.</span>
			</div>
		</div>
		<br></br>
		<form id="getOrganizationForm" action="#" th:action="@{/gamemaster/editOrganization}" method="get"></form>
		<form id="editOrganizationTypeForm" action="#" th:action="@{/gamemaster/createOrganizationType}" method="get"></form>
		<form id="editOrganizationForm" th:object="${organizationCreator}" action="#" th:action="@{/gamemaster/editOrganization}" method="post">
			<input id="forwardingUrl" type="hidden" th:field="*{forwardingUrl}"></input>
			<input id="campaignId" type="hidden" th:field="*{organization.campaignId}"></input>
			<input id="organizationTypeId" type="hidden" th:field="*{organization.gameDataTypeId}"></input>
			<input id="organizationTreeJson" type="hidden" th:field="*{organizationTreeJson}"></input>
			<input id="hiddenParentId" type="hidden" th:field="*{organization.parentId}"></input>
			<input id="hiddenOrganizationId" type="hidden" th:field="*{organization.id}"></input>

			<input id="organizationRankTreeJson" type="hidden" th:field="${organizationRankCreator.organizationRankTreeJson}"></input>
			<input id="organizationId" type="hidden" th:field="${organizationRankCreator.organizationRank.organizationId}"></input>
			<input id="hiddenOrgRankParentId" type="hidden" th:field="${organizationRankCreator.organizationRank.parentId}"></input>
			<input id="organizationRankId" type="hidden" th:field="${organizationRankCreator.organizationRank.id}"></input>

			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-9">
					<span th:text="#{createOrganization.description}">description</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-9">
					<hr></hr>
				</div>
			</div>

			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-1">
					<label class="input-margin" th:text="#{editOrganization.selectOrganization}">Name</label>
				</div>
				<div class="col-md-8">
					<div class="btn-group">
	  					<button id="tBtn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:utext="#{editOrganization.selectOrganizationDown}">
	    					Select Organization <span class="caret"></span>
	  					</button>
		  				<ul class="dropdown-menu" role="menu">
		    				<li th:each="organization : ${organizationCreator.organizationsInCampaign}"><a th:id="${organization.id}" class="selectOrganization" th:text="${organization.name}">Action</a></li>
		  				</ul>
					</div>				
				</div>
			</div>
						
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-1">
					<label class="input-margin" th:text="#{editOrganization.organizationName}">Name</label>
				</div>
				<div class="col-md-8">
					<input id="organizationName" class="input-margin" th:field="*{organization.name}"></input>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-1">
					<label class="input-margin" th:text="#{editOrganization.parentOrganization}">Name</label>
				</div>
				<div class="col-md-8">
					<input id="organizationParentName" class="input-margin" th:field="*{organization.parentName}" disabled="disabled"></input>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-1">
					<label class="input-margin" th:text="#{editOrganization.organizationType}"></label>
				</div>
				<div class="col-md-8">
					<div class="btn-group">
	  					<button id="ttBtn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:utext="#{editOrganizationType.ttBtn}">
	    					Organization Type <span class="caret"></span>
	  					</button>
		  				<ul class="dropdown-menu" role="menu">
		    				<li th:each="organizationType : ${organizationCreator.organizationTypesInCampaign}"><a th:id="${organizationType.id}" class="modifyOT" th:text="${organizationType.name}">Action</a></li>
		  				</ul>
					</div>				
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-1">
					<label class="input-margin" th:text="#{editOrganization.organizationType}">Name</label>
				</div>
				<div class="col-md-8">
					<input id="organizationTypeName" class="input-margin" disabled="disabled" th:field="*{organization.gameDataTypeName}"></input>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-1">
					<label class="input-margin" th:text="#{editOrganization.organizationDescription}">Desc</label>
				</div>
				<div class="col-md-8">
					<textarea id="organizationDescription" rows="8" cols="100" class="input-margin" th:field="*{organization.description}"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-3">			
					<h4>Select parent organization in campaign</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div id="organizationRoot">
						<div id="organizationGroupPanel" class="list-group panel"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-2">
	           		<input class="basic-margin" type="submit" value="Submit" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-9">
					<hr></hr>
				</div>
			</div>

			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-9">
					<h2>Organization Ranks</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-9">
					<span th:text="#{createOrganizationRank.description}">description</span>
				</div>
			</div>

			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-1">
					<label class="input-margin" th:text="#{editOrganizationRank.selectOrganizationRank}">Name</label>
				</div>
				<div class="col-md-8">
					<div class="btn-group">
	  					<button id="orBtn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:utext="#{editOrganizationRank.selectOrganizationRankDown}">
	    					Select Organization Rank<span class="caret"></span>
	  					</button>
		  				<ul class="dropdown-menu" role="menu">
		    				<li th:each="organizationRank : ${organizationRankCreator.organizationRanksInOrganization}"><a th:id="${organizationRank.id}" class="selectOrganizationRank" th:text="${organizationRank.name}">Action</a></li>
		  				</ul>
					</div>				
				</div>
			</div>
						
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-1">
					<label class="input-margin" th:text="#{editOrganizationRank.organizationRankName}">Name</label>
				</div>
				<div class="col-md-8">
					<input id="organizationRankName" class="input-margin" th:field="${organizationRankCreator.organizationRank.name}"></input>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-1">
					<label class="input-margin" th:text="#{editOrganizationRank.parentOrganizationRank}">Name</label>
				</div>
				<div class="col-md-8">
					<input id="organizationRankParentName" class="input-margin" th:field="${organizationRankCreator.organizationRank.parentName}" disabled="disabled"></input>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-1">
					<label class="input-margin" th:text="#{editOrganizationRank.organizationRankDescription}">Desc</label>
				</div>
				<div class="col-md-8">
					<textarea id="organizationRankDescription" rows="8" cols="100" class="input-margin" th:field="${organizationRankCreator.organizationRank.description}"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-3">			
					<h4>Select parent organization rank in campaign</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div id="organizationRoot">
						<div id="organizationRankGroupPanel" class="list-group panel"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-2">
	           		<input id="submitOrgRank" class="basic-margin" type="submit" value="Submit" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-9">
					<hr></hr>
				</div>
			</div>
		</form>
	</div>
</body>
</html>
