<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="/gameserver/resources/werewolf-512.png"></link>
   	<link rel="stylesheet" href="/resources/css/style.css" type="text/css" th:href="@{/resources/css/style.css}"></link>	
    <!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"></link>
	<link rel="stylesheet" href="/gameserver/resources/css/font-awesome.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<title th:text="#{menu.item.selectCampaign}">Title</title>
</head>
<body>
	<div th:include="/public/navbar :: navbar"></div>

	<br></br>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-11">
			<h1 th:text="#{menu.item.selectCampaign}">Select</h1>
		</div>
	</div>
	<form id="updateUserForm" th:object="${selectCampaignHelper}" action="#" th:action="@{/user/selectCampaign}" method="post">
		<div class="row">		        	
			<div class="col-md-1"></div>
			<div class="col-md-2">
				<label class="input-margin" th:text="#{selectCampaign.campaigns}">Camps</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-4">			
				<ul>
				  <li class="no-bullets" th:each="campaign : ${selectCampaignHelper.allCampaigns}">
				    <input type="radio" th:field="*{selectedCampaignId}" th:value="${campaign.id}" />
				    <label th:for="${#ids.prev('selectedCampaignId')}" th:text="${campaign.name}">Campaign Name</label>
				  </li>
				</ul>			
			</div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-2">
           		<input type="submit" value="Submit" />
			</div>
		</div>		
	</form>
</body>
</html>