<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="/gameserver/resources/werewolf-512.png"></link>
   	<link rel="stylesheet" href="/resources/css/style.css" type="text/css" th:href="@{/resources/css/style.css}"></link>	
    <!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"></link>
	<link rel="stylesheet" href="/gameserver/resources/css/font-awesome.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<title th:text="#{selectFolio.title}">Title</title>
	
<script th:inline="javascript">
	$(document).ready(function() {
		$( window ).load(function() {
			var unselectedList = $("#unselectedTags")[0].value;
			var unselectedTagList = jQuery.parseJSON(unselectedList);
			
			var buttons = "";
			$.each(unselectedTagList, function(i, item) {
				var className = item["className"];
				var objectId = item["objectId"];
			    var button = '<button class="btn btn-default add-btn" id="'+item['objectId']+'" className="'+item['className']+'" onclick="addTag(\''+className+'\', \''+objectId+'\')">'+item['tagName']+'</button>';
			    buttons += button;
			});
			$("#unselectedTagSpan").html(buttons);

			var selectedList = $("#selectedTags")[0].value;
			var selectedTagList = jQuery.parseJSON(selectedList);
			
			var buttons = "";
			$.each(selectedTagList, function(i, item) {
				var className = item["className"];
				var objectId = item["objectId"];
			    var button = '<button class="btn btn-default remove-btn" id="'+item['objectId']+'" className="'+item['className']+'" onclick="removeTag(\''+className+'\', \''+objectId+'\')">'+item['tagName']+'</button>';
			    buttons += button;
			});
			$("#selectedTagSpan").html(buttons);
		
		});		

		$(".add-btn").click(function(event) {
			event.preventDefault();
			// Get the data out of the event
			var target = $(event.target);
			var objectId = $(target).attr('objectId');
			var className = $(target).attr("className");
			addTag(className, objectId);
		});

		$(".remove-btn").click(function(event) {
			event.preventDefault();
			// Get the data out of the event
			var target = $(event.target);
			var objectId = $(target).attr('objectId');
			var className = $(target).attr("className");
			removeTag(className, objectId);
		});
	
	});	
</script>	
<script th:inline="javascript">
	function addTag(className, objectId) {
		$("#selectFolioForm").attr("action", "/gameserver/shared/folio/addTagToSearch");
		$("#selectFolioForm").attr("method", "post");
		$("#addTagId").val(objectId);
		$("#addTagClassName").val(className);
		$("#selectFolioForm").submit();
	}

	function removeTag(className, objectId) {
		$("#selectFolioForm").attr("action", "/gameserver/shared/folio/removeTagFromSearch");
		$("#selectFolioForm").attr("method", "post");
		$("#removeTagId").val(objectId);
		$("#removeTagClassName").val(className);
		$("#selectFolioForm").submit();
	}
	
</script>
</head>
<body>
	<div th:include="/public/navbar :: navbar"></div>

	<br></br>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h1 th:text="#{selectFolio.title}">Select</h1>
		</div>
	</div>

	<form id="selectFolioForm" th:object="${selectFolioCreator}" action="#" th:action="@{/shared/selectFolio}" method="get">
		<input type="hidden" id="addTagId" th:field="*{addTagId}"></input>
		<input type="hidden" id="addTagClassName" th:field="*{addTagClassName}"></input>
		<input type="hidden" id="removeTagId" th:field="*{removeTagId}"></input>
		<input type="hidden" id="removeTagClassName" th:field="*{removeTagClassName}"></input>
		<input type="hidden" id="unselectedTags" th:field="*{unselectedTags}"></input>
		<input type="hidden" id="selectedTags" th:field="*{selectedTags}"></input>
						
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<label class="input-margin" th:text="#{selectFolio.unselectedTags}">Tags</label>	  
			</div>
		</div>
		
		<div class="row">   
			<div class="col-md-1"></div>   	
			<div class="row col-md-10">
				<span id="unselectedTagSpan"></span>
<!-- 				<span th:each="tag : ${selectFolioCreator.unselectedTagList}"><button class="btn btn-default" type="button" th:id="${tag.objectId}" data-th-attr="className=${tag.className}" th:text="${tag.tagName}" th:onclick="'addTag(\'' + ${tag.className} + '\', \'' + ${tag.objectId} + '\');'">tagName</button></span>  -->
			</div>	
		</div>	        	
	
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<label class="input-margin" th:text="#{selectFolio.selectedTags}">Tags</label>	  
			</div>
		</div>
		
		<div class="row">   
			<div class="col-md-1"></div>   	
			<div id="selectedTagSpan" class="row col-md-10">
<!-- 				<span th:each="tag : ${selectFolioCreator.selectedTagList}"><button class="btn btn-default" type="button" th:id="${tag.objectId}" data-th-attr="className=${tag.className}" th:text="${tag.tagName}" th:onclick="'addTag(\'' + ${tag.className} + '\', \'' + ${tag.objectId} + '\');'">tagName</button></span>  -->
			</div>	
		</div>	        	
				
	</form>
</body>
</html>